[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Hello_Test
Comment=Testing my GUI skills
Exec=hello_test
Icon=/usr/share/hello_test/icon.png
Terminal=false
